<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="console" xsi:type="Console" layout="[${longdate}][${level}][${logger}]: ${message} ${exception:format=toString}" />
    <target name="file" xsi:type="File" layout="[${longdate}][${level}][${logger}]: ${message} ${exception:format=toString}" fileName="${basedir}log\${date:universalTime=true:format=yyyy-MM-dd}.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console,file" />
  </rules>

</nlog>